*.o
*.a
*~
TAGS

#-- build artifacts --
Makefile
alpine/.deps/
alpine/Makefile
alpine/alpine
alpine/date.c
alpine/osdep/.deps/
alpine/osdep/Makefile
alpine/rpdump
alpine/rpload
c-client
config.log
config.status
imap/OSTYPE
imap/SPECIALS
imap/an
imap/c-client/
imap/dmail/
imap/imapd/
imap/ip6
imap/ipopd/
imap/mailutil/
imap/mlock/
imap/mtest/
imap/tmail/
include/config.h
include/stamp-h1
libtool
m4/Makefile
pico/.deps/
pico/Makefile
pico/osdep/.deps/
pico/osdep/Makefile
pico/pico
pico/pilot
pith/.deps/
pith/Makefile
pith/charconv/.deps/
pith/charconv/Makefile
pith/help_c_gen
pith/help_h_gen
pith/helptext.c
pith/helptext.h
pith/osdep/.deps/
pith/osdep/Makefile
po/Makefile
po/POTFILES
po/stamp-po
regex/.deps/
regex/Makefile
web/src/Makefile
web/src/alpined.d/.deps/
web/src/alpined.d/Makefile
web/src/pubcookie/.deps/
web/src/pubcookie/Makefile
